<header class="hide-when-mobile">
  <h1 class="headerName"><a href="home.html">كارت الخير</a></h1>
  <ul class="lists">
    <li class="main-list">
      <a class="main-link" href="incomview.html" id="incoms"> الايرادات </a>
    </li>
    <li class="main-list">
      <a class="main-link" href="zkahview.html"> زكاة المال </a>
    </li>
    <li class="main-list">
      <a class="main-link" href="sdkahview.html"> صدقة جارية </a>
    </li>
    <li class="main-list">
      <p class="main-link main-link2" id="main-link" href="">اخري</p>
      <ul class="sub-list other hide" id="sub-list">
        <li><a href="elagview.html">علاج مرضي</a></li>
        <li><a href="zab7view.html">ذبح و توزيع لحوم</a></li>
        <li><a href="outcomeview.html">مصروفات</a></li>
        <li><a href="financialview.html">حسابات</a></li>
        <li><a href="reportsview.html">تقارير</a></li>
      </ul>
    </li>
  </ul>
  <div>
      <button class="exit" id="exit">خروج</button>
  </div>
</header>
<header class="show-when-mobile" id="mobHeader">
  <h1 class="headerName"><a href="home.html">كارت الخير</a></h1>
  <div class="main" id="main">
    <i class="icon-menu" href=""></i>
  </div>
  <ul class="mob-sub-list" id="mobUl">
    <li><a class="links" href="incomview.html">الايرادات</a></li>
    <li><a class="links" href="zkahview.html">زكاة المال</a></li>
    <li><a class="links" href="sdkahview.html">صدقة جارية</a></li>
    <li><a class="links" href="elagview.html">علاج المرضي</a></li>
    <li><a class="links" href="zab7view.html">ذبح توزيع لحوم</a></li>
    <li><a class="links" href="outcomeview.html">مصروفات</a></li>
    <li><a class="links" href="financialview.html">حسابات</a></li>
    <li><a class="links" href="reportsview.html">تقارير</a></li>
    <li><a class="links" href="" id="exit2">خروج</a></li>
  </ul>
</header>