<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/financial.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/financial.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec tall" id="MainSec">
      <h1 class="MainTitle">حسابات</h1>
      <div class="choose">
        <h1>أختر المحافظة</h1>
        <select onchange="location = this.value;" id="goverments" class="Placeinput2" value="0000" required>
          <option value=""></option>
          <option value="aswan.html">أسوان</option>
          <option value="luxur.html">الأقصر</option>
          <option value="kena.html">قنا</option>
          <option value="sohag.html">سوهاج</option>
          <option value="minya.html">المنيا</option>
          <option value="bnyswef.html">بني سويف</option>
          <option value="redsea.html">البحر الأحمر</option>
          <option value="wahat.html">الواحات البحرية</option>
          <option value="bhera.html">البحيرة</option>
          <option value="alex.html">الإسكندرية</option>
        </select>
      </div>
    </section>
  </body>
</html>
