<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/financial.css" />
    <link
      rel="stylesheet"
      href="css/mobile-pages.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />

    <link rel="stylesheet" href="iconmoon/style.css" />
    <script defer src="js/financial.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body dir="rtl" id="body">
    <%- include('./components/header.ejs') %>

    <section class="MainSec tall" id="MainSec">
      <h1 class="MainTitle">حسابات</h1>
      <div class="choose">
        <h1>أختر المحافظة</h1>
        <select onchange="location = this.value;" id="goverments" class="Placeinput2" value="0000" required>
          <option value=""></option>
          <option value="aswan.html">أسوان</option>
          <option value="luxur.html">الأقصر</option>
          <option value="kena.html">قنا</option>
          <option value="sohag.html">سوهاج</option>
          <option value="minya.html">المنيا</option>
          <option value="bnyswef.html">بني سويف</option>
          <option value="redsea.html">البحر الأحمر</option>
          <option value="wahat.html">الواحات البحرية</option>
          <option value="bhera.html">البحيرة</option>
          <option value="alex.html">الإسكندرية</option>
        </select>
      </div>

      <div class="form-popup form-popup2 hide-when-mobile" id="myForm2">
        <form action="/action_page.php" class="form-container">
          <h1>تعديل</h1>

          <label for="data"><b>التاريخ</b></label>
          <input id="dateinput2" type="date" name="data" required />
          <br />
          <label for="place"><b>المسئول/المكان</b></label>
          <select id="places2" class="Placeinput" value="0000" required>
            <option value=""></option>
            <option value="الحج كمال / دراو – أسوان">الحج كمال / دراو – أسوان</option>
            <option value="علا / الضبعية – الأقصر">علا / الضبعية – الأقصر</option>
            <option value="عبده لاوندي / قمولا – قنا">عبده لاوندي / قمولا – قنا</option>
            <option value="دياب / المحافظة – سوهاج">دياب / المحافظة – سوهاج</option>
            <option value="دياب / إدفا و الغوانم – سوهاج">دياب / إدفا و الغوانم – سوهاج</option>
            <option value="رداد مراد / بهتا – سوهاج">رداد مراد / بهتا – سوهاج</option>
            <option value="عثمان أبو مروان / الشوكا – طما – سوهاج">عثمان أبو مروان / الشوكا – طما – سوهاج</option>
            <option value="محمدعيد / نزله البرشا - ملوي – المنيا">محمدعيد / نزلة البرشا - ملوي – المنيا</option>
            <option value="اشرف / بني سويف">اشرف / بني سويف</option>
            <option value="هاشم عثمان / حلايب – البحر الأحمر">هاشم عثمان / حلايب – البحر الأحمر</option>
            <option value="محمود حسنين / شلاتين – البحر الأحمر">محمود حسنين / شلاتين – البحر الأحمر</option>
            <option value="الشيخ اوهاج / أبو رماد – البحر الأحمر">الشيخ اوهاج / أبو رماد – البحر الأحمر</option>
            <option value="شكري / القصر - الواحات البحرية">شكري / القصر - الواحات البحرية</option>
            <option value="عبدالله بدار / الحيز – الواحات البحرية">عبدالله بدار / الحيز – الواحات البحرية</option>
            <option value="عادل بسيوني / الإنتاج الأول – البحيرة">عادل بسيوني / الإنتاج الأول – البحيرة</option>
            <option value="كاشف القويسني / كريون – كفر الدوار – البحيرة">كاشف القويسني / كريون – كفر الدوار – البحيرة</option>
            <option value="عبده / العامرية – الإسكندرية">عبده / العامرية – الإسكندرية</option>
            <option value="مجدي كلور / كوم الدكة – الإسكندرية">مجدي كلور / كوم الدكة – الإسكندرية</option>
            <option value="محمد عبد التواب / الدخيلة – الإسكندرية">محمد عبد التواب / الدخيلة – الإسكندرية</option>
            <option value="عادل عرجاوي / أبو قير - الإسكندرية">عادل عرجاوي / أبو قير - الإسكندرية</option>
          </select>
          <br />
          <label for="ways"><b>البيان</b></label>
          <select id="ways2" class="Placeinput" value="0000" required>
              <option value=""></option>
              <option value="دعم مادي">دعم مادي</option>
              <option value="كروت الخير">كروت الخير</option>
              <option value="حفاضات">حفاضات</option>
              <option value="مصاريف مدارس">مصاريف مدارس</option>
              <option value="إفطار صائم">إفطار صائم</option>
              <option value="موائد الرحمن">موائد الرحمن</option>
              <option value="عيديات">عيديات</option>
              <option value="ملابس عيد">ملابس عيد</option>
              <option value="ذكاة الفطر">ذكاة الفطر</option>
              <option value="أضحية العيد">أضحية العيد</option>
              <option value="آبار مياه">آبار مياه</option>
              <option value="توصيلة مياه شرب">توصيلة مياه شرب</option>
              <option value="توصيل كهرباء والعداد">توصيل كهرباء والعداد</option>
              <option value="حمامات">حمامات</option>
              <option value="بناء اسقف">بناء اسقف</option>
              <option value="ماكينات خياطة">ماكينات خياطة</option>
              <option value="اصلاح اجهزة طبية">اصلاح اجهزة طبية</option>
              <option value="اكفان">اكفان</option>
          </select>
          <br />
          <label for="number"><b>الرصيد</b></label>
          <input class="input2" type="number" min="0" required />
          <div>
            <button type="button" class="btn savebtn" id="save2" disabled>حفظ</button>
            <button type="button" class="btn cancel" id="cancel2">الغاء</button>
          </div>
        </form>
      </div>

      <div class="form-popup form-popup2 hide-when-mobile" id="myForm4">
        <form action="/action_page.php" class="form-container">
          <h1>تعديل</h1>

          <label for="data"><b>التاريخ</b></label>
          <input id="dateinput4" type="date" name="data" required />
          <br />
          <label for="place"><b>المسئول/المكان</b></label>
          <select id="places4" class="Placeinput" value="0000" required>
            <option value=""></option>
            <option value="الحج كمال / دراو – أسوان">الحج كمال / دراو – أسوان</option>
            <option value="علا / الضبعية – الأقصر">علا / الضبعية – الأقصر</option>
            <option value="عبده لاوندي / قمولا – قنا">عبده لاوندي / قمولا – قنا</option>
            <option value="دياب / المحافظة – سوهاج">دياب / المحافظة – سوهاج</option>
            <option value="دياب / إدفا و الغوانم – سوهاج">دياب / إدفا و الغوانم – سوهاج</option>
            <option value="رداد مراد / بهتا – سوهاج">رداد مراد / بهتا – سوهاج</option>
            <option value="عثمان أبو مروان / الشوكا – طما – سوهاج">عثمان أبو مروان / الشوكا – طما – سوهاج</option>
            <option value="محمدعيد / نزله البرشا - ملوي – المنيا">محمدعيد / نزلة البرشا - ملوي – المنيا</option>
            <option value="اشرف / بني سويف">اشرف / بني سويف</option>
            <option value="هاشم عثمان / حلايب – البحر الأحمر">هاشم عثمان / حلايب – البحر الأحمر</option>
            <option value="محمود حسنين / شلاتين – البحر الأحمر">محمود حسنين / شلاتين – البحر الأحمر</option>
            <option value="الشيخ اوهاج / أبو رماد – البحر الأحمر">الشيخ اوهاج / أبو رماد – البحر الأحمر</option>
            <option value="شكري / القصر - الواحات البحرية">شكري / القصر - الواحات البحرية</option>
            <option value="عبدالله بدار / الحيز – الواحات البحرية">عبدالله بدار / الحيز – الواحات البحرية</option>
            <option value="عادل بسيوني / الإنتاج الأول – البحيرة">عادل بسيوني / الإنتاج الأول – البحيرة</option>
            <option value="كاشف القويسني / كريون – كفر الدوار – البحيرة">كاشف القويسني / كريون – كفر الدوار – البحيرة</option>
            <option value="عبده / العامرية – الإسكندرية">عبده / العامرية – الإسكندرية</option>
            <option value="مجدي كلور / كوم الدكة – الإسكندرية">مجدي كلور / كوم الدكة – الإسكندرية</option>
            <option value="محمد عبد التواب / الدخيلة – الإسكندرية">محمد عبد التواب / الدخيلة – الإسكندرية</option>
            <option value="عادل عرجاوي / أبو قير - الإسكندرية">عادل عرجاوي / أبو قير - الإسكندرية</option>
          </select>
          <br />
          <label for="ways"><b>البيان</b></label>
          <select id="ways4" class="Placeinput" value="0000" required>
              <option value=""></option>
              <option value="دعم مادي">دعم مادي</option>
              <option value="كروت الخير">كروت الخير</option>
              <option value="حفاضات">حفاضات</option>
              <option value="مصاريف مدارس">مصاريف مدارس</option>
              <option value="إفطار صائم">إفطار صائم</option>
              <option value="موائد الرحمن">موائد الرحمن</option>
              <option value="عيديات">عيديات</option>
              <option value="ملابس عيد">ملابس عيد</option>
              <option value="ذكاة الفطر">ذكاة الفطر</option>
              <option value="أضحية العيد">أضحية العيد</option>
              <option value="آبار مياه">آبار مياه</option>
              <option value="توصيلة مياه شرب">توصيلة مياه شرب</option>
              <option value="توصيل كهرباء والعداد">توصيل كهرباء والعداد</option>
              <option value="حمامات">حمامات</option>
              <option value="بناء اسقف">بناء اسقف</option>
              <option value="ماكينات خياطة">ماكينات خياطة</option>
              <option value="اصلاح اجهزة طبية">اصلاح اجهزة طبية</option>
              <option value="اكفان">اكفان</option>
          </select>
          <br />
          <label for="number"><b>المصروفات</b></label>
          <input class="input4" type="number" min="0" required />
          <div>
            <button type="button" class="btn savebtn" id="save4" disabled>حفظ</button>
            <button type="button" class="btn cancel" id="cancel4">الغاء</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
