<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />
    <link rel="stylesheet" href="iconmoon/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script defer src="js/main.js"></script>
    <script defer src="js/mobile-header.js"></script>
  </head>
  <body>
    <div  dir="rtl" id="body">
      <%- include('./components/header.ejs') %>
      
      <section id="MainSec" class="MainSec">
        <div class="myflex">
          <article class="divcontainer">
            <a href="incom.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"> </span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  الايرادات
                </h2>
                <p lang="ar" dir="rtl" class="click">الايرادات</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="zkah.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  زكاة المال
                </h2>
                <p lang="ar" dir="rtl" class="click">زكاة المال</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="sdkah.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  صدقة جارية
                </h2>
                <p lang="ar" dir="rtl" class="click">صدقة جارية</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="elag.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  علاج مرضي
                </h2>
                <p lang="ar" dir="rtl" class="click">علاج مرضي</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="zab7.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  ذبح و توزيع لحوم
                </h2>
                <p lang="ar" dir="rtl" class="click">ذبح و توزيع لحوم</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="worker.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  العاملين عليها
                </h2>
                <p lang="ar" dir="rtl" class="click">العاملين عليها</p>
              </div>
            </a>
          </article>
          <article class="divcontainer">
            <a href="financial.html">
              <div class="course-box html-box">
                <div class="number-box number-html">
                  <span class="num"></span>
                </div>
                <h2 lang="ar" dir="rtl" class="html-course course-title">
                  حسابات
                </h2>
                <p lang="ar" dir="rtl" class="click">حسابات</p>
              </div>
            </a>
          </article>
        </div>
      </section>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
