<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>كارت الخير</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="css/mobile-header.css"
      media="(max-width: 767px)"
    />
    <link
      rel="stylesheet"
      href="css/mobile-header2.css"
      media="(max-width: 367px)"
    />
    <link rel="stylesheet" href="iconmoon/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script defer src="js/login.js"></script>
  </head>
  <body>
    <div class="parent-Form" id="parent-Form">
      <h1 class="eeeee">كارت الخير</h1>
        <form id="formitem">
         <div class="container-form">
            
            <h2 class="txt">Login</h2>
           
           <div class="papa">
            <label for="username"><b>Username</b></label>
            
            <input class="data" type="text" placeholder="Enter username" name="username" id="usrname" required>
            <p class="warning">Username or password is incorrect</p>
           </div>
          <div class="papa">
             <label for="psw"><b>Password</b></label>
             <input  class="data" type="password" placeholder="Enter Password" name="psw" id="psw" required>
             <p class="warning">Username or password is incorrect</p>
          </div>
           <button type="button" id="Loginbtn" class="Loginbtn">Login</button>
         </div>
        </form>
      </div>
  </body>

</html>
